button {
    border: none;
    background-color: rgb(255, 255, 255);
    font-size: 2rem;
    color: #001b2b;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    outline: none;
  }
  
  button:hover {
    background-color: #001b2b;
    color: #ffffff;
  }
  
  .equals {
    grid-column: 3 / 5;
    background-color: rgb(226, 34, 0);
    color: wheat;
  }
  
  .equals:hover {
    background-color: rgb(228, 39, 15);
  }
  