.wrapper {
    width: 500px;
    height: 700px;
    padding: 1rem;
    border-radius: 10px;
    background-color: #e2e2e2;
    background-image: linear-gradient(315deg, #001b2b 0%, #000000 74%);
  }
  